@font-face {
	font-family:"FucXed";
	font-style:normal;
	font-weight:normal;
	src:url("fucxedcaps-v3-webfont.woff2") format("woff2"),url("fucxedcaps-v3-webfont.woff") format("woff");
	font-display:swap;
}
html{
	font-family:"Crimson Text",Georgia,serif;
	word-break:break-word
}
html, body {
	height: 100%;
	margin: 0;
}
#map { height: 100%; width: 100% }

#banner {
}
.logo {
	display: block;
	margin: auto;
	max-width: 200px;
	height: 50px;
	margin-bottom: 1
}
#banner h1 {
	font-weight: bold;
	font-family: FucXed,sans-serif;
	margin-bottom: 0;

}
#banner h2 {
	margin-top: 0;
	font-weight: normal;
	font-family: FucXed,sans-serif;
}

#minibanner {
	display: none;
}
.minimal #banner {
	display: none;
}
.minimal #minibanner {
	display: block;
	cursor: pointer;
}
#minibanner #miniopen {
	display: none;
}

#miniclosed {
	font-size: 22px;
}

.area-info-section { display: none; }

#area-info {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	color: #333;
	z-index: 1000;
	padding: 10px;
	text-align: center;
	max-width: 25%;
	font-size: 90%;
	margin: 10px 10px 0 0;
}
#area-corrections {
	background-color: white;
	color: #333;
	font-size: 22px;
	font-family: FucXed,sans-serif;
	padding: 10px;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 500;
	margin: 0 0 10px 10px;
}
#corrections-popup {
	display: none;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: 1100;
	text-align: center;
}	
#corrections-popup-inner {
	display: inline-block;
	overflow: auto;
	background-color: white;
	border: solid 3px black;
	width: 50%;
	height: 50%;
	color: #333;
	font-size: 22px;
	font-family: FucXed,sans-serif;
	padding: 10px;
}
#corrections-popup-inner .button {
	font-size: 22px;
	padding: 10px;
	cursor: pointer;
	border: solid 2px black;
	display: inline-block;
}
#area-debug {
	background-color: rgba(255,255,255,0.5);
	font-size: 11px;
	color: #333;
	padding: 0 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 500;
}
.area-title {
	font-weight: bold;
	border-bottom: solid 1px #fff;
}
.leaflet-container {
	font-family:"Crimson Text",Georgia,serif;
	font-size: 100%;
}
.leaflet-popup-content h2 {
	font-family: FucXed,sans-serif;
}
.leaflet-popup-content p ,.area-info-section p {
	margin-top: 0.2em;
}
a.mlist-button {
	display: inline-block;
	margin: 0.5em 0;
	background-color: #000000;
	color: #fff;
	padding: 4px 20px;
	font-family: FucXed,sans-serif;
	font-size: 120%;
	text-decoration: none;
}
a.mlist-button:hover {
	background-color: #404040;
}
	
.sm-icon { 
	width: 32px;
	vertical-align: top;
}
#area-info a {
	color: #000;
	font-weight: bold;
}

.place-name {
	font-size: 9pt !important;
	padding: 0pt 2pt !important;
}
#jumps {
	text-align: center;
}
.jump {
	display: inline-block;
	margin: 0.2em;
	border-radius: 1em;
	padding: 0.3em 0.5em 0.1em 0.5em;
	background-color: #999;
	cursor: pointer;
	font-weight: normal;
	border: solid 1px #333;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
