
html, body {
	height: 100%;
	margin: 0;
}
#map { height: 100%; width: 100% }

#banner {
}
#logo {
	width: 100px;
}
h1 {
	font-family: sans-serif;
}

.area-info-section { display: none; }

#area-info {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
        color: white;
	z-index: 1000;
	padding: 1em;
	text-align: center;
}
#area-debug {
	background-color: rgba(255,255,255,0.5);
	font-size: 11px;
	color: #333;
	font-family: sans-serif;
	padding: 0 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 500;
}
.area-title {
	font-weight: bold;
	font-family: sans-serif;
	border-bottom: solid 1px #fff;
}
.leaflet-popup-content .area-title {
	border-bottom: solid 1px #000;
}
.leaflet-popup-content p ,.area-info-section p {
	margin-top: 0.2em;
}
#area-info a {
	color: #fff;
	font-weight: bold;
}

.place-name {
	font-size: 7pt !important;
	padding: 2pt 4pt !important;
}
