
html, body {
	height: 100%;
	margin: 0;
}
#map { height: 100%; width: 100% }

.area-info-section { display: none; }

#area-info {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
        color: white;
	width:40%;
	z-index: 1000;
	padding: 1em;
}
